## This file must *NOT* be checked into Version Control Systems,
# as it contains information specific to your local configuration.
#
# Setting versionCode to a positive integer value and versionName to a valid semver will overload
# the defaults when running locally. Running `date +%s` will give you the current unix timestamp
# for use as `versionCode`
# Ensure the versionName adheres to the convention v*.*.*, it requires it in this format for
# AppInfo to allow comparing the app version to the required mobile backend version to meet
# minimum version requirements.
versionCode=
versionName=
