name: 'Run gradle check'
description: 'Run the "check" command for a Gradle project'

inputs:
  github-token:
    description: 'Service account access token that allows publishing packages'
    required: true
  locale:
    description: 'Locale used within the emulator'
    required: false
    default: 'en-GB'
  github-actor:
    description: 'Service account name that allows publishing packages'
    required: true
  version-code:
    description: 'Version code'
    required: true
  version-name:
    description: 'Version name'
    required: true
  app-check-token:
    description: 'App check token'
    required: true

runs:
  using: "composite"
  steps:
    -  name: Stop all emulators
       run: |
         .sh/stopAllEmulators.sh
       shell: bash

    - name: Run Gradle managed device test suites
      env:
        INPUT_SHARD_COUNT: ${{ inputs.shard-count }}
        INPUT_VERSION_CODE: ${{ inputs.version-code }}
        INPUT_VERSION_NAME: ${{ inputs.version-name }}
        TOKEN: ${{ inputs.github-token }}
        USERNAME: ${{ inputs.github-actor }}
        BUILD_DEBUG_APP_CHECK_TOKEN: ${{ inputs.app-check-token }}
      run: |
        ./.sh/tests/runInstrumentationChecks
      shell: bash
