name: 'Run gradle check'
description: 'Run the "check" command for a Gradle project'

inputs:
  access-token:
    description: 'Service account access token that allows publishing packages'
    required: true
  architecture:
    description: 'AVD architecture to use'
    required: false
    default: 'x86_64'
  device-profile:
    description: 'AVD device profile to use'
    required: false
    default: 'pixel_5'
  locale:
    description: 'Locale used within the emulator'
    required: false
    default: 'en-GB'
  username:
    description: 'Service account username that allows publishing packages'
    required: true
  version-code:
    description: 'Version code'
    required: true
  version-name:
    description: 'Version name'
    required: true

runs:
  using: "composite"
  steps:
    - name: Run gradle connected test
      uses: reactivecircus/android-emulator-runner@v2
      env:
        INPUT_VERSION_CODE: ${{ inputs.version-code }}
        INPUT_VERSION_NAME: ${{ inputs.version-name }}
        TOKEN: ${{ inputs.access-token }}
        USERNAME: ${{ inputs.username }}
      with:
        api-level: 29
        arch: ${{ inputs.architecture }}
        avd-name: ${{ inputs.device-profile }}
        disable-animations: true
        disable-linux-hw-accel: false
        emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none -change-locale ${{ inputs.locale }}
        profile: ${{ inputs.device-profile }}
        script: |
          adb kill-server
          adb start-server
          ./gradlew connectedBuildDebugAndroidTest -PversionCode=$INPUT_VERSION_CODE -PversionName=$INPUT_VERSION_NAME --continue --stacktrace
        target: playstore
