<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="uk.gov.onelogin.HiltTestActivity"
            android:exported="true"
            android:permission="">
        </activity>
        <activity
            android:name="uk.gov.onelogin.TestActivityForResult"
            android:exported="false"
            android:permission="">
        </activity>
    </application>
</manifest>
