# When making structure changes to the workflow, please ensure the quality-gate.manifest.json is updated accordingly to reflect this.
name: On Branch Push (develop)

on:
  push:
    branches:
      - "develop"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write

jobs:
  run-checks:
    name: Verify code base when pushed on develop
    runs-on: ubuntu-24.04
    #    runs-on: ubuntu-20.04-16core # Larger github runner, with KVM acceleration
    outputs:
      version-code: ${{ steps.version-code.outputs.version-code }}
      version-name: ${{ steps.latest-tag.outputs.current-tag }}
    permissions:
      # Set permissions for ${{ secrets.GITHUB_TOKEN }}
      # https://docs.github.com/en/actions/security-guides/automatic-token-authentication
      id-token: write
      contents: write
      packages: read
    steps:
      - name: Run checkout github action
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0

      - name: Detect Arch
        id: detect-arch
        uses: ./config/actions/detect-arch

      - name: Setup GitHub Runner workflow
        uses: ./mobile-android-pipelines/actions/setup-runner

      - name: Clean runner
        uses: ./mobile-android-pipelines/actions/clean-runner-fast

      - name: Retrieve secrets
        uses: ./config/actions/retrieve-secrets
        with:
          actions-role-arn: ${{ secrets.GITHUBRUNNER_EC2_ACTIONS_ROLE_ARN }}

      - name: Get latest tag
        id: latest-tag
        uses: ./config/actions/get-latest-tag
        with:
          pattern: 'v*'

      - name: Generate version code
        id: version-code
        uses: ./mobile-android-pipelines/actions/generate-version-code

      - name: Generate version name
        id: version-name
        uses: ./mobile-android-pipelines/actions/version-name
        with:
          version-code: ${{ steps.version-code.outputs.version-code }}
          version-name: ${{ steps.latest-tag.outputs.current-tag }}

      - name: Run gradle instrumentation tests
        uses: ./config/actions/gradle-connected-test-managed
        with:
          github-token: ${{ secrets.MODULE_FETCH_TOKEN }}
          github-actor: ${{ secrets.MODULE_FETCH_TOKEN_USERNAME }}
          version-code: ${{ steps.version-code.outputs.version-code }}
          version-name: "${{ steps.latest-tag.outputs.current-tag }}-${{ steps.version-code.outputs.version-code }}"
          app-check-token: ${{ secrets.BUILD_APPCHECK_DEBUG_TOKEN }}

      - name: Run gradle unit tests
        uses: ./config/actions/gradle-check
        with:
          github-token: ${{ secrets.MODULE_FETCH_TOKEN }}
          github-actor: ${{ secrets.MODULE_FETCH_TOKEN_USERNAME }}
          version-code: ${{ steps.version-code.outputs.version-code }}
          version-name: "${{ steps.latest-tag.outputs.current-tag }}-${{ steps.version-code.outputs.version-code }}"
          app-check-token: ${{ secrets.BUILD_APPCHECK_DEBUG_TOKEN }}

      - name: Run sonar analysis
        uses: ./config/actions/sonar-analysis
        with:
          project-version: ${{ steps.version-name.outputs.version-name }}
          sonar-token: ${{ secrets.SONAR_TOKEN }}
          version-code: ${{ steps.version-code.outputs.version-code }}
          version-name: ${{ steps.version-name.outputs.version-name }}
          app-check-token: ${{ secrets.BUILD_APPCHECK_DEBUG_TOKEN }}

      - name: Clean workspace
        if: always()
        uses: ./config/actions/clean-workspace

  bundle-and-publish:
    name: Bundle and publish app
    runs-on: ubuntu-24.04
    #    runs-on: ubuntu-20.04-16core # Larger github runner, with KVM acceleration
    needs:
      - run-checks
    permissions:
      # Set permissions for ${{ secrets.GITHUB_TOKEN }}
      # https://docs.github.com/en/actions/security-guides/automatic-token-authentication
      id-token: write
      contents: write
      packages: read
    steps:
      - name: Run checkout github action
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0

      - name: Setup GitHub Runner workflow
        uses: ./mobile-android-pipelines/actions/setup-runner

      - name: Clean runner
        uses: ./mobile-android-pipelines/actions/clean-runner-fast

      - name: Retrieve secrets
        uses: ./config/actions/retrieve-secrets
        with:
          actions-role-arn: ${{ secrets.GITHUBRUNNER_EC2_ACTIONS_ROLE_ARN }}

      - name: Bundle release
        id: bundle-release
        uses: ./config/actions/gradle-assemble-and-bundle
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          module-fetch-token: ${{ secrets.MODULE_FETCH_TOKEN }}
          flavors: 'build,staging'
          github-actor: ${{ secrets.GITHUB_ACTOR }}
          module-fetch-token-username: ${{ secrets.MODULE_FETCH_TOKEN_USERNAME }}
          version-code: ${{ needs.run-checks.outputs.version-code }}
          version-name: ${{ needs.run-checks.outputs.version-name }}
          app-check-token: ${{ secrets.BUILD_APPCHECK_DEBUG_TOKEN }}

      - name: Upload to play store
        uses: ./config/actions/upload-to-play-store
        with:
          aab-paths: ${{ steps.bundle-release.outputs.aab-paths }}

      - name: Git tag bundles
        uses: ./config/actions/git-tag-bundles
        with:
          aab-paths: ${{ steps.bundle-release.outputs.aab-paths }}
          version-code: ${{ needs.run-checks.outputs.version-code }}
          version-name: ${{ needs.run-checks.outputs.version-name }}

      - name: Clean workspace
        if: always()
        uses: ./mobile-android-pipelines/actions/clean-workspace
