name: On Pull Request (develop/release/main)

on:
  pull_request:
    branches:
      - develop
      - main
      - release/*
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  set-up-runner:
    name: Generate version name and code
    runs-on: ubuntu-24.04
    outputs:
      version-code: ${{ steps.version-code.outputs.version-code }}
      version-name: ${{ steps.latest-tag.outputs.current-tag }}
    permissions:
      # Set permissions for ${{ secrets.GITHUB_TOKEN }}
      # https://docs.github.com/en/actions/security-guides/automatic-token-authentication
      contents: read
      packages: read
    steps:
      - name: Run checkout github action
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          lfs: 'true'
          fetch-depth: 0

      - name: Detect Arch
        id: detect-arch
        uses: ./config/actions/detect-arch

      - name: Get latest tag
        id: latest-tag
        uses: ./config/actions/get-latest-tag
        with:
          pattern: 'v*'

      - name: Generate version code
        id: version-code
        uses: ./config/actions/generate-version-code

      - name: Generate version name
        id: version-name
        uses: ./config/actions/version-name
        with:
          version-code: ${{ steps.version-code.outputs.version-code }}
          version-name: ${{ steps.latest-tag.outputs.current-tag }}

      - name: Clean workspace
        if: always()
        uses: ./config/actions/clean-workspace

  run-instrumentation-tests:
    name: Run instrumentation tests
    runs-on: ubuntu-24.04
    needs:
      - set-up-runner
    permissions:
      # Set permissions for ${{ secrets.GITHUB_TOKEN }}
      # https://docs.github.com/en/actions/security-guides/automatic-token-authentication
      contents: read
      packages: read
    steps:
      - name: Run checkout github action
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          lfs: 'true'
          fetch-depth: 0

      - name: Setup GitHub Runner workflow
        uses: ./config/actions/setup-runner

      - name: Run gradle instrumentation tests
        uses: ./config/actions/gradle-connected-test-managed
        with:
          github-token: ${{ secrets.MODULE_FETCH_TOKEN }}
          github-actor: ${{ secrets.MODULE_FETCH_TOKEN_USERNAME }}
          version-code: ${{ needs.set-up-runner.outputs.version-code }}
          version-name: "${{ steps.latest-tag.outputs.current-tag }}-${{ steps.version-code.outputs.version-code }}"
          app-check-token: ${{ secrets.BUILD_APPCHECK_DEBUG_TOKEN }}

      - name: Upload test coverage report
        uses: ./config/actions/upload-coverage-reports
        with:
          artifact-name: instrumentation-test-coverage
          path: "**/reports/coverage/**/*.xml"

      - name: Clean workspace
        if: always()
        uses: ./config/actions/clean-workspace

  run-unit-tests:
    name: Run unit tests
    runs-on: ubuntu-24.04
    needs:
      - set-up-runner
    permissions:
      # Set permissions for ${{ secrets.GITHUB_TOKEN }}
      # https://docs.github.com/en/actions/security-guides/automatic-token-authentication
      contents: read
      packages: read
    steps:
      - name: Run checkout github action
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          lfs: 'true'
          fetch-depth: 0

      - name: Setup GitHub Runner workflow
        uses: ./config/actions/setup-runner

      - name: Run gradle unit tests
        uses: ./config/actions/gradle-check
        with:
          github-token: ${{ secrets.MODULE_FETCH_TOKEN }}
          github-actor: ${{ secrets.MODULE_FETCH_TOKEN_USERNAME }}
          version-code: ${{ needs.set-up-runner.outputs.version-code }}
          version-name: "${{ steps.latest-tag.outputs.current-tag }}-${{ steps.version-code.outputs.version-code }}"
          app-check-token: ${{ secrets.BUILD_APPCHECK_DEBUG_TOKEN }}

      - name: Upload test coverage report
        uses: ./config/actions/upload-coverage-reports
        with:
          artifact-name: unit-test-coverage

      - name: Upload jars
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: jars
          path: "**/build/**/*.jar"

      - name: Clean workspace
        if: always()
        uses: ./config/actions/clean-workspace

  run-sonar-analysis-and-clean-up:
    name: Sonar analysis and clean-up
    runs-on: ubuntu-24.04
    needs:
      - set-up-runner
      - run-unit-tests
      - run-instrumentation-tests
    permissions:
      # Set permissions for ${{ secrets.GITHUB_TOKEN }}
      # https://docs.github.com/en/actions/security-guides/automatic-token-authentication
      contents: read
      packages: read
    steps:
      - name: Run checkout github action
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          lfs: 'true'
          fetch-depth: 0

      - name: Setup GitHub Runner workflow
        uses: ./config/actions/setup-runner

      - name: Download jars
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 #v5.0.0
        with:
          name: jars

      - name: Download unit test coverage reports
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 #v5.0.0
        with:
          name: unit-test-coverage

      - name: Download instrumentation test coverage reports
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 #v5.0.0
        with:
          name: instrumentation-test-coverage

      - name: Run sonar analysis
        uses: ./config/actions/sonar-analysis
        with:
          project-version: ${{ needs.set-up-runner.outputs.version-name }}
          sonar-token: ${{ secrets.SONAR_TOKEN }}
          version-code: ${{ needs.set-up-runner.outputs.version-code }}
          version-name: "${{ steps.latest-tag.outputs.current-tag }}-${{ steps.version-code.outputs.version-code }}"
          app-check-token: ${{ secrets.BUILD_APPCHECK_DEBUG_TOKEN }}
          github-token: ${{ secrets.MODULE_FETCH_TOKEN }}
          github-actor: ${{ secrets.MODULE_FETCH_TOKEN_USERNAME }}

      - name: Bundle reports folder
        uses: ./config/actions/bundle-reports

      - name: Run sonar quality gate
        uses: ./config/actions/sonar-quality-gate
        with:
          sonar-token: ${{ secrets.SONAR_TOKEN }}

      - name: Clean workspace
        if: always()
        uses: ./config/actions/clean-workspace
